# Ignore all Node dependencies
**/node_modules/

# Ignore compiled frontend assets
frontend/dist/
frontend/build/

# Ignore environment variables and secrets
**/.env

# Ignore OS system files
.DS_Store
Thumbs.db